*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 1400px;
    height: 100vh;
    background-color:rgb(187, 187, 187) ;
    margin: 20px auto;
    text-align: center

    
}
.text1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.image{
    width: 250px;
    height:  320px;
    margin-bottom: auto;
    border-radius: 50%;
}
.image-box{
    border:solid black;
    margin-bottom: 1px;
    margin-top: 25px;
    margin-right: 54px;
    margin-left: 54px;
 }

.followtext-box{
    padding: 50px;
    padding-top: 100px;
}


 .textp-box{
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    border:solid black;
    margin: 4%;

}
.imagetext-box{
    background-color: grey;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
} 
h1{
    padding-top: 20px;
    padding-bottom: 10px;
}
.endtext-box{
    text-align: center;
    padding-right: 60%;
    
}
